@font-face {
    font-family: "Roboto";
    src:url(/fonts/Roboto-Regular.ttf);
}
body {
   
    margin-left: 40px;
    margin-right: 10px;
   
}
.container{
   
    width: 60%;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    display:inline-block;
    margin-bottom: 20px;
    background-color:aqua;
}

.image-one {
    max-width: 100%;
    width:auto;
    height:300px;
    transition: transform 2s ease-in-out ;
}
.image-one:hover {
    transform:translateX(100%) ;
    animation: fade 1s ease-in-out .2s;
    
     
}
body:hover {
    background-color: brown;
    
}



  @keyframes fade {
    
    0% {transform:translateX(0%);}

     100% {transform:translateX(100%);}
     
  } 
    

.main h1,.main p  {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
span {
    color:  rgb(217, 201, 30);
}

address{
    display: block;
}
